* {
    margin: 0;
    padding: 0;
    font-family: 'Arial', 'sans-serif';
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body {
    background: rgb(153,0,0);
    color: black;
}

#header {
    width: 100%;
    height: 100vh;
    background-image: url(images/redWallpaper.png);
    background-size: cover;
    background-position: center;
}

.container {
    padding: 10px 10%;
}

.navbar {
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    font-size: 18px;
    padding: 15px;

}

.navbar a {
    margin-left: 60px;
    text-decoration: none;
    font-size: 20px;
    color: #fff;
    border: solid rgb(153,0,0);
    border-radius: 8px;
    padding: 7px;
}


.navbar a:hover{
    background-color: #fff;
    border: solid #fff;
    border-radius: 8px;
    color: rgb(153,0,0);
    transition: 0.5s;
}








.header-text {
    margin-top: 15%;
    font-size: 25px;
    color: #ffffff;
}

.header-text h1 {
    font-size: 80px;
    margin-top: 20px;
}

.header-text p {
    color: #bfbfbf;
    margin-top: 20px;
}


/*---------------Canon----------------*/

#Canon{
    padding: 50px 0;  
}


#canontext{
    color: #fff;
    font-size: 60px;
}
.category-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}
.categoryimage{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

.categoryimage img{
    width: 360px;
    height: 470px;
    object-fit: cover;
    border-radius: 10px;
    display: block;
    transition: transform 0.5s;
}


.layer{
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(153,0,0,0.6), #ffffff);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size: 14px;
    transition: height 0.5s;
}

.layer h3{
    font-weight: 500;
    margin-bottom: 20px;
    font-weight: bold;
    color: white;
    text-shadow: 1px 1px rgb(188, 188, 188);
    
}
.layer p{
    font-weight: bold;
    color: #fff;
    text-shadow: 1px 1px rgb(188, 188, 188);
    
}


.layer a{
    margin-top: 20px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
    background:rgb(153,0,0);
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
}

.categoryimage:hover img{
    transform: scale(1.1);
}

.categoryimage:hover .layer{
    height: 100%;
}


/*--------Fanon--------*/


#Fanon{
    padding: 50px 0; 
}


#fanontext{
    color: #fff;
    font-size: 60px;
}


/*-------General and Rare Pairings------*/

#generalAndRarePairings{
    padding: 80px 0;
    color: #ababab;
}

.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: #ffffff;
    padding: 50px;
    border-radius: 10px;
}

.general-col-1{
    flex-basis: 40%;
}

.rarePairings-col-2{
    flex-basis: 40%;
}


.row h1{
    color: rgb(153,0,0);
    font-size: 60px;
}

.row p{
    color: rgb(153,0,0);
    font-size: 18px;
    margin-top: 5px;
}

.row a{
    display: inline-block;
    text-decoration: none;
    color: rgb(153,0,0);
    font-size: 14px;
    font-weight: 700;
    padding: 7px;
    margin-top: 20px;
    border: solid rgb(153,0,0);
    border-radius: 7px;
    transition: scale 0.5s;
}

.row a:hover{
    color: #fff;
    background-color: rgb(153,0,0);
    transform: scale(1.1);
}



/*--------Contact Me---------*/
.contactme{
    width: 100%;
    text-align: center;
    padding: 25px 0;
    background: rgb(153,0,0);
    margin-top: 20px;
}

.contactme p{
    font-weight: 700;
    font-size: 15px;
    color: rgb(255, 255, 255);
    margin-bottom: 4px;
}

.contactme a{
color: rgb(255, 255, 255);
font-size: 15px;
}