* {
    margin: 0;
    padding: 0;
    font-family: 'Arial', 'sans-serif';
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body {
    background: rgb(153,0,0);
    color: black;
}

#Header {
    width: 100%;
    height: 50vh;
    background-color: rgb(255, 255, 255);
    background-size: cover;
    background-position: center;
}

.container {
    padding: 10px 10%;
}

.header-text{
    margin-top: 9%;
    font-size: 30px; 
     text-align: center;
}

.header-text p{
    margin-top: 2%;
    font-size: 29px;
    color: rgb(153,0,0);
}


/*--------Storyboxes--------*/

.container{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.story-box{
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border: 3px solid black;
    border-radius: 10px;
    width: 60%;
    height: auto;
    margin-top: 30px;
    padding: 40px;
    line-height: 27px;
}

.title{
    font-size: 30px;
    color: rgb(153,0,0);
    margin-bottom: 4px;
    margin-top: 20px;
}

.author{
    font-size: 20px;
    margin-bottom: 15px;
}

.description{
    font-size: 16px;
}

.link{
    align-self: flex-end;
    display: inline-block;
    text-decoration: none;
    padding: 6px;
    color: rgb(153,0,0);
    font-weight: 700;
    border: 3px solid rgb(153,0,0);
    border-radius: 7px;
    margin-top: 20px;
}

.link:hover{
    background-color: rgb(153,0,0);
    color: #fff;
}




/*------------CSS for small screen----------*/


@media only screen and (max-width: 600px){

#Header {
    height: 30vh;
}
.header-text{
    margin-top: 9%;
    font-size: 20px; 
     text-align: center;
}

.header-text p{
    margin-top: 2%;
    font-size: 15px;
    color: rgb(153,0,0);
}


.story-box{
    
    border: 2px solid black;
    width: 100%;
    height: auto;
    margin-top: 30px;
    padding: 20px;
    line-height: 18px;
}

.title{
    font-size: 15px;
    color: rgb(153,0,0);
    margin-bottom: 4px;
    margin-top: 20px;
}

.author{
    font-size: 13px;
    margin-bottom: 15px;
}

.description{
    font-size: 12px;
}

.link{
    
    padding: 4px;
    border: 2px solid rgb(153,0,0);
    border-radius: 7px;
    margin-top: 20px;
}

.story-box a{
    font-size: 10px;
}

}